.student{
    width: 200px;
    height: 200px;
    margin:200px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 1);
    border-left-color: transparent;
    border-right-color: transparent;
    
    animation: spin 1s infinite ;
}

@keyframes spin {
    0%{rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
    
}