h1{
  
    color: brown;
    text-align: center;
    font-size: 28px;

}
p{
    font-weight: 400;
    text-align: left;
    font-size: 24px;
    
}
.tom
{font-style: italic;}
.mit{
    text-align: right;
}